.container{
    font-family: "Open Sans", sans-serif;
    padding: 2%;
}

.numbersArea{
    display: flex;
    padding: 8% 4%;
    gap: 7vw;
}

.numbersArea > ul .areas > li{
    list-style: none;
    width: 18vw;
    font-weight: 600;
}

.numbersArea > ul .areas > li::before{
    content: '\2022';
    font-weight: 900;
    font-size: 1.2em;
    margin-right: 10px;
    color: #90C4CC;
}

.areas{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

